@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

body, h1, ul, p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}


body {
    font-family: 'Pretendard', sans-serif;
}

.cover {
    display: relative;
    background-color: #070B8A;
    background-image: url(images/profile-pattern.svg);
    background-size: 150vw;
    background-position: center;
    padding: 9vw 0;
    text-align: center;
    overflow: hidden;
}


.cover-title {
    font-size: 0%;
}

.cover-title:before {
    content: "";
    display: block;
    background-image: url(images/logo-lightTR.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0.75rem auto;
    width: 5.25rem;
    height: 5.25rem;
}

.contents {
    background-color: #fff;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.button {
    display: inline-block;
    padding: 1em;
    cursor: pointer;
}

.button a {
    color: black;
}

.button.active {
    font-weight: bold;
}

.linktree {
    margin-top: 0px;
    color: white;
}

.linktree li a {
    display: none;
    padding: 5px;
    margin: 0 auto 5px;
    text-align: center;
    line-height: 180%;
    width: 80vw;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.5em;
}

.linktree li a:before {
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    margin-right: 0.4em;
    width: 1.25em;
    height: 1.25em;
}

.linktree li:hover {
    -webkit-filter: opacity(80%);
    filter: opacity(80%);

    transition: filter 0.3s;
    -webkit-transition: filter 0.3s;
}

.linktree.visible li a {
    display: block;
    width: 80%;
}

a#blog { background-color: #070B8A; }
a#blog:before { background-image: url(images/logo-lightTR.svg); }

a#youtube { background-color: #FF0000; }
a#youtube:before { background-image: url(images/youtube.svg); }

a#notion { background-color: #191919 ; }
a#notion:before { background-image: url(images/notion.svg); }

a#github { background-color: #0d1117; }
a#github:before { background-image: url(images/github.svg); }

a#unsplash { background-color: #000000; }
a#unsplash:before { background-image: url(images/unsplash.svg); }

a#telegram { background-color: #229bdb; }
a#telegram:before { background-image: url(images/telegram.svg); }

a#discord { background-color: #5865F2; }
a#discord:before { background-image: url(images/discord.svg); }

a#x { background-color: #101318; }
a#x:before { background-image: url(images/x.svg);}

a#facebook { background-color: #0075e7; }
a#facebook:before { background-image: url(images/facebook.svg); }

a#instagram { background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); }
a#instagram:before { background-image: url(images/instagram.svg); }

a#kakaotalk { background-color: #ffe942; color: #000; }
a#kakaotalk:before { background-image: url(images/kakaotalk.svg); }

a#email { background-color: #070B8A; }
a#email:before { background-image: url(images/email.svg); }

a#threads { background-color: #000000; }
a#threads:before { background-image: url(images/threads.svg); }

a#steam { background-color: #1b2838; }
a#steam:before { background-image: url(images/steam.svg); }

a#spotify { background-color: #1db954; }
a#spotify:before { background-image: url(images/spotify.svg); }

a#chzzk { 
    background-color: #000000;
}
a#chzzk:before { 
    background-image: url(images/chzzk.svg); 
    width: 4em;
    height: 1.25em;
}

.footer {
    margin: 2em 0;
    text-align: center;
}

.catchphrase {
    font-size: 0;
    margin: 0 auto;
}

.catchphrase:before {
    content: '';
    background-image: url(images/letter-darkTR.svg);
    background-size: auto;
    background-repeat: no-repeat;
    display: block;
    width: 175px;
    height: 30px;
    margin: 0 auto 5px;
}

.copyright {
    color: #666;
}

@media(min-width: 1280px) {
    .cover {
        position: fixed;
        left: 0;
        top: 0;
        width: 70vw;
        height: 100vh;
        text-align: left;
        padding-top: 4vw;
    }


    .cover-title:before {
        content: "";
        top: 0;
        left: 0;
        width: 7vw;
        height: 7vw;
        margin: 2rem 6.3vw 2rem;
    }

    .cover-title:after {
        content: "Your PC ran into a problem and needs to restart. We're just collecting some error info, and then we'll restart for you.";
        display: block;
        font-size: 2vw;
        font-family: 'Pretendard', sans-serif;
        font-weight: 300;
        line-height: 130%;
        margin: 0.4em 6.3vw 0;
        color: white;
    }

    .contents {
        margin-left: 70vw;
        margin-top: 20px;
    }
}
